body, h1, h2, ul, li, a {
    margin: 0;
    padding: 0;
    font-family: sans-serif, "Ubuntu", Arial, Helvetica /* Font family for the webpage */
}

body {
    background: radial-gradient(circle, rgb(0,0,0), rgb(40,0,40)); /* Gradient dark purple background */
}

h1 {
    color: cyan;
    font-size: 2em;
    margin-bottom: 0.5em;
} /* Cyan color and font size and spacing adjustments for <h1> element */

h2 {
    color: plum;
    font-size: 1.5em;
    margin-bottom: 1em;
} /* Plum color and font size and spacing adjustments for <h2> element */

h3 {
    color: salmon;
    font-size: 1.15em;
    margin-bottom: 1em;
} /* Salmon color and font size and spacing adjustments for <h3> element */

ul {
    list-style-type: none;
    margin-left: 20px;
    margin-bottom: 12px;
} /* Defines no list type and margins for unordered list */

ul li {
    margin-bottom: 5px;
} /* Bottom margin for <ul> and <li> elements */

a {
    display: inline-block;
    color: yellow;
    text-decoration: none;
    padding: 5px 10px;
    border: 3px solid #00FFFF;
    transition: all 0.3s ease;
} /* Makes <a> elements have cyan border and yellow font with an animation transition */

a:hover {
    background-color: green;
    color: white;
    border: 3px solid yellow;
} /* Adds green background, white font, and yellow border when hovering over <a> elements */

.center-text {
    text-align: center;
} /* Centers-aligns text */

.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
} /* Center-aligns images */

.img30 {
    height: auto;
    width: 30%;
} /* Makes images 30% of the width of the browser window or element*/

.img100 {
    height: auto;
    width: 100%
} /* Makes images 100% of the width of the browser window or element*/

.BorderedTextDashed {
    border: 10px dashed greenyellow;
} /* Border that is a dashed line and is a green-yellow color */

.BorderedTextRounded {
    border: 10px solid red;
    border-radius: 50%;
} /* Border that is rounded and is a red color */

.GreenBorderedTextRounded {
    border: 5px solid green;
    border-radius: 50%;
} /* Border that is rounded and is a green color */

.TableDesign {
    border: 5px ridge red;
    color: greenyellow;
    width: 100%;
    text-align: center;      
    font-size: 1em;
    margin-bottom: 1em;
} /* Border for tables that is ridged and is a red color with green-yellow text */

.bold {
    font-weight: bold;
} /* Bolds text */

.GreenYellowFont {
    color: greenyellow;
} /* Applies a green-yellow text color */

#footer {
    color: pink;
    overflow: auto;
} /* Makes scrollbars appear if the content overflows the viewport */

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: auto;
} /* Makes videos fullscreen, behind the main text, and enables scrollbars */

.video-background video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: brightness(0.25);
} /* Centers video backgrounds, applies minimum width and height to be fullscreen, and applies 25% background brightness for better readability */

.h2Underline {
    text-decoration: underline;
} /* Underlines <h2> elements */

.ImageGap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
} /* Applies horizontal gaps across the page and creates small gaps on the bottom of images */

.MiniImageBackground {
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: brightness(0.5);
    position: fixed;
    z-index: -1;
    overflow: auto;
} /* Applies an unaltered sized image with 50% brightness for better readability, and is designed to let the standard color CSS background form around it */

.iframeSize {
    width: 30%;
    max-width: 640px;
    height: 360px;
    border: 0px;
} /* Adjusts the width and height of embed YouTube video windows */

.SmallBottomPadding {
    padding-bottom: 5px;
} /* Applies a very small gap on the bottom of elements */

.SmallTopPadding {
    padding-top: 10px;
} /* Applies a small gap on the top of elements */

.BottomPadding {
    padding-bottom: 20px;
} /* Applies a medium sized gap to the bottom of elements */

.BulletUnorderedList {
    list-style-type: disc;
    color: plum;
    font-size: 1.15em;
    margin-bottom: 1em;
} /* Applied disc-style bullets, the plum text color, and font size and spacing adjustments to unordered lists */

.BrightnessText80 {
    filter: brightness(0.8);
} /* Applies 80% brightness to text */

.ThinBorder {
    border: 1px solid;color: plum;
} /* Applies a very thin solid border with the plum color to images */