body, h1, h2, ul, li, a {
    margin: 0; /* Removes the default margining from the page */
    padding: 0; /* Removes the default padding from the page */
    font-family: sans-serif, "Ubuntu", Arial, Helvetica /* Font families for the webpage */
} /* Removes default margining and padding and sets the font families for the webpage, applying to <body>, <h1>, <h2>, <ul>, <li>, and <a> elements */

body {
    background: radial-gradient(circle, rgb(0,0,0), rgb(40,0,40)); /* Gradient dark purple background */
} /* Gives the body of the website a dark purple and black radial gradient background */

h1 {
    color: cyan; /* Cyan color for the text */
    font-size: 2em; /* Multiplies the size of the font by 2 */
    margin-bottom: 0.5em; /* Multiplies the space at the bottom of an element by 1/2 */
    font-weight: 1000 !important;
} /* Cyan color and font size and spacing adjustments for <h1> element */

h3 {
    color: salmon; /* Salmon color for the text */
    font-size: 1.15em; /* Multiplies the size of the font by 1.15 */
    margin-bottom: 1em; /* Multiplies the space at the bottom of the element by 1 */
    text-indent: 50px; /* Indents the first line of text by 50px */
} /* Salmon color and font size and spacing adjustments with first line indentation for <h3> element */

.JustifyText {
    text-align: justify; /* Gives justified alignment for text */
} /* Justify-aligns text */

.GreenYellowFont {
    color: greenyellow; /* Green-yellow color for the text */
} /* Applies a green-yellow text color */

.PlumFont {
    color: plum; /* Plum color for the text */
} /* Applies a plum text color */